:root {
  --primary-color: #6b2a59;
  --seconday-color: #9d8df1;
  --terciary-color: #c3f73a;
  --dark-color: #41463d;
  --light-color: #f9f8f8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-color);
  padding: 3rem 0;
  background: var(--light-color);
}

nav .nav-item {
  margin-left: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: block;
}

nav,
.size,
.addOn {
  max-width: 982px;
  margin: 0 auto;
}

.heading-2,
.heading-3 {
  font-weight: 400;
}

.heading-2 span,
.heading-3 span {
  display: block;
  margin-top: -6px;
  opacity: 60%;
}

.heading-2 {
  font-size: 2.1rem;
}

.heading-2 span {
  font-size: 1rem;
}

.heading-3 {
  font-size: 1.3rem;
  margin: 2rem 0;
}

.heading-3 span {
  font-size: 1.1rem;
  font-weight: 400;
}

.card {
  cursor: pointer;
  color: var(--primary-color);
  background: #fff;
  border: 1px solid var(--primary-color);
  width: 14.8rem;
  height: 17.6rem;
  display: block;
  border-radius: 3rem;
  padding-bottom: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__text-1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card__text-1::after {
  content: "";
  display: block;
  width: 1.62rem;
  height: 2px;
  border-radius: 1000px;
  background: var(--light-color);
  margin: 0 auto;
  margin-top: 3px;
}

.card__text-2 {
  font-size: 1.8rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: var(--primary-color);
  color: var(--light-color) !important;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  border: 2px solid var(--seconday-color);
}

.addOn .option__container {
  margin-left: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9.5rem (1fr)[6];
      grid-template-columns: 9.5rem repeat(6, 1fr);
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addOn .option__container:not(:nth-child(5)) {
  margin-bottom: 4rem;
}

.addOn .option__container .option {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 11.2rem;
  border-radius: 3rem;
  color: var(--seconday-color);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.addOn .finalAction {
  margin-left: 17.5rem;
}

.addOn .finalAction textarea {
  display: block;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  height: 11.6rem;
  resize: none;
  padding: 2rem 2rem;
  outline: none;
  font-family: inherit;
  color: var(--dark-color);
  margin-bottom: 5rem;
}

.btn {
  padding: 1.5rem 2.5rem;
  background: none;
  border-radius: 4.8rem;
  border: 3px solid var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.btn-solid {
  color: var(--light-color);
  background: var(--primary-color);
}
/*# sourceMappingURL=main.css.map */